.App {
  text-align: center;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.LogoDiv{
  justify-content: center;
}

.logoImg{
  margin-left: 1rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-weight: 700;
}

.logoImg span{
  color: green;
  font-weight: 700;
}

.actionDiv{
  display: flex;
  flex-direction: row;
}

.Loginbtn{
  margin-right: 1rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: #007aff;
  border: 1px solid #52a2f8;

}

.Registerbtn{
  margin-right: 1rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: #007aff;
  color: white;
  border-radius: 10px;
}

@media (min-width: 1024px){
  .logoImg:hover{
    cursor: pointer;
  }
  
  .Loginbtn:hover{
    cursor: pointer;
  }

  .Registerbtn{
    cursor: pointer;
  }
}
